<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
</head>
<body>
   <div class="container">
      <header class="header">
          <a href="" class="header__logo"><span>Wd</span></a>
          <nav class="header__nav">
              <ul class="header__list">
                  <li><a href="#">ГЛАВНАЯ</a></li>
                  <li><a href="#">ОБ АВТОРЕ</a></li>
                  <li><a href="#">РАБОТЫ</a></li>
                  <li><a href="#">ПРОЦЕСС</a></li>
                  <li><a href="#">КОНТАКТЫ</a></li>
              </ul>
          </nav>
      </header>
      <section class="section">
          <img src="./img/Frame.svg" alt="" class="section__img">
          <div class="section__2">
            <h1>Дизайн и верстка</h1>
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
            <a href="#">НАПИСАТЬ МНЕ</a>
          </div>
      </section>
    </div>
   
      <section class="section__about">
          <div class="about__1">
              <h2>Обо мне</h2>
              <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и <br> вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов <br> на латинице с начала XVI века.</p>
          </div>
          <div class="about__2">
              <img src="./img/project.svg" alt="">
              <p>40+ <br><span>проектов</span></p>

              <img src="./img/project.svg" alt="">
              <p>40+ <br><span>проектов</span></p>

              <img src="./img/project.svg" alt="">
              <p>40+ <br><span>проектов</span></p>

              <img src="./img/project.svg" alt="">
              <p>40+ <br><span>проектов</span></p>

              <img src="./img/project.svg" alt="">
              <p>40+ <br><span>проектов</span></p>

              <img src="./img/project.svg" alt="">
              <p>40+ <br><span>проектов</span></p>
          </div>

            
                <div class="about__3">
                            <div class="about__left">
                                <h2>Мои навыки</h2>
                                  
                                    <p> Adobe Photoshop</p>
                                    <div class="progress">
                                      <span class="progress-bar" style="width: 76%"></span>
                                    </div>
                
                                    <p> Adobe Photoshop</p>
                                    <div class="progress">
                                      <span class="progress-bar" style="width: 76%"></span>
                                    </div>
                
                                    <p> Adobe Photoshop</p>
                                    <div class="progress">
                                      <span class="progress-bar" style="width: 76%"></span>
                                    </div>
                               
                            </div>
                            <div class="about__right"><img src="./img/man.svg" alt=""></div>
                    </section>
            </div>
            <div class="container">
                <section class="section-video">
                    <h1>Как я работаю</h1>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и <br> вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов <br> на латинице с начала XVI века.</p>
                    <img src="./img/video.svg" alt="">
                </section>
            </div>
                 
            <section class="section-img">
                <div class="img-list">
                    <div class="img-item" style="background-image: url(./img/papers1.svg);"></div>
                    <div class="img-item" style="background-image: url(./img/papers2.svg);"></div>
                    <div class="img-item" style="background-image: url(./img/papers1.svg);"></div>
                    <div class="img-item" style="background-image: url(./img/papers2.svg);"></div>
                    <div class="img-item" style="background-image: url(./img/papers2.svg);"></div>
                    <div class="img-item" style="background-image: url(./img/papers1.svg);"></div>
                    <div class="img-item" style="background-image: url(./img/papers2.svg);"></div>
                    <div class="img-item" style="background-image: url(./img/papers1.svg);"></div>
                </div>

                <div class="microsoft">
                    <img src="./img/microsoft.svg" alt="">
                    <img src="./img/microsoft.svg" alt="">
                    <img src="./img/microsoft.svg" alt="">
                    <img src="./img/microsoft.svg" alt="">
                </div>
            </section>

            <section class="section__feedback">
                <h2>Хотите веб-сайт?</h2>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и <br> вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов <br> на латинице с начала XVI века.</p>

                <div class="section__input">
                    <input placeholder="Ваше имя" type="text" class="input__feedback">
                   <input placeholder="Ваш e-mail" 
                   type="email" class="input__feedback">
            </section>

            <footer class="footer">
                <span>Иванов Иван <br>
                    (с) 2018. Все права защищены.
                </span>
                <div class="footer__img">
                    <a href=""><img src="./img/vk.svg"alt=""><a>
                    <a href=""><img src="./img/vk.svg"alt=""><a>
                    <a href=""><img src="./img/vk.svg"alt=""><a></a>
                    
            </footer>
</body>
</html>